::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
*{
  font-family: 'Roboto', sans-serif;
  color: #34495e;
}
div:not(.photoQuantity){
  font-size: 18px;
}

a{
  text-decoration: none;
  color: inherit;
  display: inherit;
}

body {
  margin: 0;
  background-color: #e7ebf0;
  overflow: hidden;
  height: 100vh;
}

.wallpaper {
  margin: 0 auto;
  width: 1000px;
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-gap: 10px;

}

.header {
  justify-self: center;
  display: inherit;
  width: 100%;
  background-color:#3598db;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(53, 152, 219, 0.1);
  grid-template-columns: 90px 15fr 20fr 20fr;
  &>.logo {
   font-size: 45px;
    margin: auto;
  }
  &>.time {
    display: inherit;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
  }
  &>.unreadMessage {
    display: inherit;
    margin: auto;
    &>a {
      &>.photoMessage {
        display: inherit;
        background-image: url("../images/message.svg");
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        &>.photoQuantity {
          width: 15px;
          height: 15px;
          background-color: #51dacf;
          color: black;
          font-size: 12px;
          justify-self: end;
          align-self: end;
          border-radius: 50%;
          text-align: center;
          border: 1px solid white;
        }
      }
    }
  }
  &>.profile {
   display: inherit;
    grid-template-columns: auto auto auto;
    &>.avatar {
      display: inherit;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-image: url("../images/face.jpg");
      background-size: cover;
      margin: auto;
      &>.status {
        background-color: #3598db;
        display: inherit;
        justify-self: end;
        align-self: end;
        width: 8px;
        height: 8px;
        box-shadow: 0 2px 4px #51dacf;
        border-radius: 50%;
      }
    }
    &>.name {
      margin: auto;
    }
    &>.edit {
      margin: auto;
    }
  }
}

.content {
  height: 85vh;
  grid-auto-flow: column;
  width: 100%;
  display: inherit;
  grid-template-columns: 15fr 30fr 15fr;
  grid-template-rows: 1fr 80px ;
  grid-gap: 10px;
  &>div:not(.windowInputMessage){
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(53, 152, 219, 0.1);
  }
  &>.usersChat {
    display: inherit;
    background-color:#ffffff;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-template-rows: 30px 1fr ;
    height: 85vh;
    &>.quantityUsersOnline {
      font-size: 22px;
      height: 20px;
      justify-self: center;
      align-self: center;
      color: #51dacf;
      height: 30px;
    }
    &>.Users {
      overflow: scroll;
      overflow-x:hidden;
      display: inherit;
      &>.mychoise {
        background-color: #f5f6f8;
      }
      &>.oneUsers{
        display: inherit;
        grid-template-columns: 2fr 4fr 1fr;
        font-weight: 700;
        font-size: 16px;
        height: 60px;
        &>img {
          border-radius: 50%;
          background-color: #3498db;
          width: 40px;
          height: 40px;
          justify-self: center;
          align-self: center;
        }
        &>.name {
          align-self: center;

        }
        &>.statusForUsers{
          justify-self: center;
          align-self: center;
          width: 8px;
          height: 8px;
          box-shadow: 0 2px 4px #51dacf;
          border-radius: 50%;
        }
        &>.onlineUser {
          background-color: #51dacf;
        }
        &>.LastSeen15ago {
          background-color: #d4e1ea;
        }
        &>.lastSeenLongTime {
          background-color: #d4e1ea;
        }
      }
    }
  }
  &>.chat {
    background-color: #e7ebf0;
    display: inherit;
    overflow: scroll;
    overflow-x:hidden;
    &>.Messages {
      align-content: end;
      margin: 3px;
      display: inherit;
      &>.OneMessage{
        display: inherit;
        margin: 5px;
        &>img {
          border-radius: 50%;
          background-color: #3498db;
          width: 30px;
          height: 30px;
        }
        &>.text {
          padding: 5px;
          text-align: center;
          font-size: 15px;
          max-width: 360px;
        }
        &>.Main {
          background-color: #3598db;
        }
        &>.Dif {
          background-color: #ffffff;
        }
        &>span{
          font-size: 18px;
          border-radius: 10px;
          background-color: white;
        }
      }
      &>.MyMessage {
        display: inherit;
        grid-template-columns: 1fr 40px;
        justify-items: end;
      }
      &>.otherMessage{
        display: inherit;
        grid-template-columns: 40px 1fr;
        justify-items: start;
      }
    }
  }
  &>.windowInputMessage {
    display: inherit;
    grid-template-rows: 1fr 50px;
    &>form {
      background-color:#ffffff ;
      display: inherit;
      grid-template-columns: 1fr 80px;
      &>textarea {
        padding: 15px;
        border: none;
        resize: none;
      }
      &>button{

        background-color: white;
      }
    }
  }
  &>.displayForInfMessage {
    align-content: end;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:#ffffff;
    display: inherit;
    grid-template-rows: auto auto auto  auto;
    &>.characters{
      display: inherit;
      grid-template-columns: auto auto;
      justify-self: start;
      padding: 10px;
    }
  }
}
